force-app/main/default/flows/Expense_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Expense_and_Line_Items</name>
        <label>Create Expense and Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ExpenseAutomation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Error</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Apex_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>expenseName</name>
            <value>
                <elementReference>expenseName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expenseType</name>
            <value>
                <elementReference>expenseType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lineItems</name>
            <value>
                <elementReference>lineItems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receiptNumber</name>
            <value>
                <elementReference>receiptNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>totalAmount</name>
            <value>
                <elementReference>totalAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transactionDate</name>
            <value>
                <elementReference>transactionDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vendorStoreName</name>
            <value>
                <elementReference>vendorStoreName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExpenseAutomation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Apex_Error</name>
        <label>Assign Apex Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>output</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An Error Occurred: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>output</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An Error Occurred: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Expense_and_Line_Items</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Expense_and_Line_Items</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_Error</name>
        <label>Check if Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Expense_and_Line_Items</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Expense Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expense Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Expense_and_Line_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>expenseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expenseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>receiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>transactionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vendorStoreName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
