force-app/main/default/flows/Get_Doctor_Hospital_Details_with_Related_Visits_Prompt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Prompt_Output_Error_Message</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Prompt Output Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Based on the {!errorMessage}, set details on screen to the user
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Prompt_Output_for_Doctor_details</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Prompt Output for Doctor details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Summarize the Doctor details from: {!Get_Doctor_Details}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Prompt_Output_for_Doctor_not_found</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Prompt Output for Doctor not found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Tell the user that there is no Doctor found in the system with the name provided
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Prompt_Output_for_Doctor_Visit_details</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Prompt Output for Doctor + Visit details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Summarize the Doctor details from: {!Get_Doctor_Details}
and summarize the Visit details from:{!Get_Related_Visit_Details}
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Specific_Error_Msg_for_Record_Type_Id_Not_Found</name>
        <label>Set Specific Error Msg for Record Type Id Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Couldn&apos;t find Person Account Record Type</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prompt_Output_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Specific_Error_Msg_for_SOQL_Error_for_Doctor_details_fetch</name>
        <label>Set Specific Error Msg for SOQL Error for Doctor details fetch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trouble fetching Doctor record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Prompt_Output_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Specific_Error_Msg_for_SOQL_Error_for_Visit_details_fetch</name>
        <label>Set Specific Error Msg for SOQL Error for Visit details fetch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trouble fetching Visit records</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Prompt_Output_Error_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Doctor_Found</name>
        <label>Check if Doctor Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Prompt_Output_for_Doctor_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Doctor_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Doctor_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Visit_Details</targetReference>
            </connector>
            <label>Doctor Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Person_Account_Record_Type_Found</name>
        <label>Check if Person Account Record Type Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person_Account_Record_Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Account_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Doctor_Details</targetReference>
            </connector>
            <label>Person Account Record Type Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_to_state_Visit_Details</name>
        <label>Check if to state Visit Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Prompt_Output_for_Doctor_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_to_state_Visit_details_to_the_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Visit_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Visit_Details</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prompt_Output_for_Doctor_Visit_details</targetReference>
            </connector>
            <label>Yes, to state Visit details to the user</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prompt Triggered Flow to {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Doctor/ Hospital Details with Related Visits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Doctor_Details</name>
        <label>Get Doctor Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Doctor_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Specific_Error_Msg_for_SOQL_Error_for_Doctor_details_fetch</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Person_Account_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>doctorInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record_Type</name>
        <label>Get Person Account Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Person_Account_Record_Type_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Specific_Error_Msg_for_Record_Type_Id_Not_Found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Visit_Details</name>
        <label>Get Related Visit Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_to_state_Visit_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Specific_Error_Msg_for_SOQL_Error_for_Visit_details_fetch</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VisitorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserIdInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person_Account_Record_Type</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentUserIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>doctorInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
